@import '../../variables';

.servicios{
    &-cards{
        display: flex;
        justify-content: space-around;
        &_basic{
            background-color: rgba(0, 0, 0, 0.753);
            text-align: center;
            height: 450px; 
            width: 300px;
            border-radius: 15px;           
            & h1{
                color:white;
            }
            & p{
                color: white;
            }
            & button{
                background-color: $yellow;
                border: none;
                border-radius: 100px;
                height: 30px;
                width: 150px;
                transition: 0.2s;
                margin-top: 50px;
                &:hover{
                    width: 180px;
                    cursor: pointer;
                }
            }
            & ul{
                color: white;
                & li{
                    margin-bottom: 20px;
                }
            }
        }
        &_premium{
            background-color: rgba(0, 0, 0, 0.753);
            text-align: center;
            height: 450px; 
            width: 300px;
            border-radius: 15px;           
            & h1{
                color:white;
            }
            & p{
                color: white;
            }
            & button{
                background-color: $yellow;
                border: none;
                border-radius: 100px;
                height: 30px;
                width: 150px;
                transition: 0.2s;
                &:hover{
                    width: 180px;
                    cursor: pointer;
                }
            }
            & ul{
                color: white;
                & li{
                    margin-bottom: 17px;
                }
            }
        }
        &_customized{
            background-color: rgba(0, 0, 0, 0.753);
            text-align: center;
            height: 450px; 
            width: 300px;
            border-radius: 15px;           
            & h1{
                color:white;
            }
            & p{
                color: white;
                margin:100px 0 150px 0
            }
            & button{
                background-color: $yellow;
                border: none;
                border-radius: 100px;
                height: 30px;
                width: 150px;
                transition: 0.2s;
                margin-top: 51px;
                &:hover{
                    width: 180px;
                    cursor: pointer;
                }
                
            }
            & ul{
                color: white;
                & li{
                    margin-bottom: 17px;
                }
            }
        }
    }
}