.contacto{
    box-sizing:border-box;
    margin: 0%;
    background-image: url('../../assets/kari-shea-1SAnrIxw5OY-unsplash.jpg');
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}