.footer{
    height: 50px;
    color: beige;
    background-color: black;
    margin-top: 0;
    text-align: center;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    & p{
        margin: 0;
    }
}