.servicios{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;
    margin: 0%;
    background-image: url('../../assets/christina-wocintechchat-com-UTw3j_aoIKM-unsplash.jpg');
    background-position: center;
    background-repeat: repeat;
}